section.cart {
  background-color: #efefef;
  min-height: calc(100vh - 381px);
}
.cart .container {
  display: grid;
  gap: 10px;
  align-items: start;
}
@media (min-width: 992px) {
  .cart .container {
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .cart .container {
    gap: 30px;
  }
}
.cart .container .items {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.cart .container .items h2 {
  border-bottom: 1px solid #f1f1f1;
  font-size: 24px;
  font-weight: 400;
  padding: 6px 0;
}
.cart .container .items .cart-item {
  padding: 16px 0;
}
@media (min-width: 768px) {
  .cart .container .items .cart-item {
    padding: 16px;
  }
}
.cart .container .items .cart-item:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}
.cart .container .items .cart-item a {
  text-decoration: none;
  color: unset;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (min-width: 576px) {
  .cart .container .items .cart-item a {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .cart .container .items .cart-item a {
    gap: 40px;
  }
}
.cart .container .items .cart-item a .image {
  width: 72px;
}
.cart .container .items .cart-item a .image img {
  width: 100%;
}
.cart .container .items .cart-item a .name {
  flex: 1;
}
.cart .container .items .cart-item a .name h3 {
  font-weight: 400;
  font-size: 16px;
}
.cart .container .items .cart-item a .name p {
  font-size: 14px;
  color: #b31616;
}
.cart .container .items .cart-item a .name p svg {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}
.cart .container .items .cart-item a .price .final-price {
  text-align: right;
}
@media (min-width: 576px) {
  .cart .container .items .cart-item a .price .final-price {
    font-size: 18px;
  }
  .cart .container .items .cart-item a .name h3 {
    font-size: 20px;
  }
  .cart .container .items .cart-item a .image {
    width: 80px;
  }
}
@media (min-width: 768px) {
  .cart .container .items .cart-item a .price .final-price {
    font-size: 20px;
  }
}
.cart .container .items .cart-item a .price .old .old-price {
  color: #898989;
  text-decoration: line-through;
  margin-right: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .cart .container .items .cart-item a .price .old .old-price {
    font-size: 16px;
  }
}
.cart .container .items .cart-item a .price .old .percentage {
  color: var(--main-color);
  background-color: rgba(250, 2, 1, 0.15);
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cart .container .items .cart-item .btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cart .container .items .cart-item .btns button {
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
}
.cart .container .items .cart-item .btns .num-of-products {
  display: flex;
  align-items: center;
}
.cart .container .items .cart-item .btns .num-of-products button {
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
}
.cart .container .items .cart-item .btns .num-of-products button svg {
  padding: 5px;
  font-size: 28px;
}
.cart .container .items .cart-item .btns .num-of-products button:hover {
  background-color: rgba(201, 13, 13, 0.685);
}
.cart .container .items .cart-item .btns .num-of-products span {
  margin: 8px;
  width: 32px;
  text-align: center;
}
.cart .container .items .cart-item .btns .spinner {
  animation: spin 1s linear infinite;
}
.cart .container .items .cart-item .btns .num-of-products button .spinner {
  font-size: 28px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cart .container .items .cart-item .btns > button {
  gap: 5px;
  align-items: center;
  background-color: #ffffff;
  color: var(--main-color);
  padding: 2px 5px;
}
.cart .container .items .cart-item .btns .spinner {
  font-size: 20px;
}
.cart .container .items .cart-item .btns > button:hover {
  background-color: rgba(250, 2, 1, 0.15);
}
.cart .container .items .cart-item .btns > button svg {
  font-size: 24px;
}
.cart .container .items .cart-item .btns > button .remove {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}
.cart .container .checkout {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
}
.cart .container .checkout h1 {
  border-bottom: 1px solid #eee;
  font-weight: 400;
  padding: 6px 0;
  text-transform: uppercase;
  color: #313131;
  font-size: 18px;
  letter-spacing: -0.5px;
}
.cart .container .checkout .subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.cart .container .checkout .subtotal p:first-of-type {
  color: #454545;
}
.cart .container .checkout .subtotal p:last-of-type {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .cart .container .checkout .subtotal p:last-of-type {
    font-size: 20px;
  }
}
.cart .container .checkout .btn {
  border-top: 1px solid #eee;
}
.cart .container .checkout .btn a {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  display: block;
  margin-top: 8px;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 0 15px 2px #ccc;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.cart .container .checkout .btn a:hover {
  background-color: rgba(201, 13, 13, 0.685);
}
