/* ProfilePage.css */

.profile-page .container {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
}

.sidebar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  padding-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0px 10px 20px;
  font-weight: 500;
  cursor: pointer;
  color: #444;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  color: var(--main-color);
}

.main-content {
  flex: 1;
  padding: 40px;
}

.profile-form {
  max-width: 600px;
}

.profile-form h2,
.orders-list h2 {
  margin-bottom: 20px;
  color: var(--main-color);
  font-weight: 400;
}

.profile-form form {
  display: flex;
  flex-direction: column;
}
.profile-form form input[type="password"] {
  margin-top: 15px;
}

.profile-form .row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.profile-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.profile-form h4 {
  margin-top: 30px;
  color: #444;
}

.profile-form .actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.profile-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.profile-form .log-out {
  margin-inline-end: auto;
  background-color: var(--main-color);
  color: #fff;
}
.profile-form .save {
  background-color: var(--main-color);
  color: white;
}

.orders-list ul {
  padding: 0;
  list-style: none;
}

.orders-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.order-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.order-items {
  margin-top: 12px;
}
.order-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px dashed #eee;
}
.order-item:last-child {
  border-bottom: none;
}
