.items-section .sub-word {
  color: var(--main-color);
  font-weight: 500;
  padding: 8px 40px;
  position: relative;
  font-size: 18px;
}
.items-section .sub-word::before {
  content: "";
  background-color: var(--main-color);
  height: 100%;
  width: 20px;
  left: 0;
  position: absolute;
  top: 0;
  border-radius: 5px;
}
html[lang="ar"] .items-section .sub-word::before {
  right: 0;
}
.items-section .title {
  font-weight: 600;
  margin: 30px 0;
  font-size: 32px;
  letter-spacing: 1px;
}
.items-section .swiper {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.items-section .swiper .swiper-wrapper {
  width: fit-content;
}
.items-section .slider-item {
  user-select: none;
}
.items-section .slider-item .discount {
  position: absolute;
  top: 16px;
  left: 25px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  padding: 3px 13px;
  font-size: 13px;
}
.items-section .slider-item .image {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.items-section .slider-item .image img {
  width: 55%;
}
.items-section a {
  all: unset;
}
.items-section .slider-item .image .icon {
  padding: 8px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  font-size: 22px;
  top: 15px;
  right: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.items-section .slider-item .image .icon:nth-of-type(2) {
  top: 16px;
}
.items-section .slider-item .image .icon:hover {
  opacity: 0.5;
}

.items-section .slider-item .image button {
  position: absolute;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  bottom: -25%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.items-section .slider-item .image:hover button {
  bottom: 0;
}
.items-section .slider-item .image button:hover {
  opacity: 0.6;
}

.items-section .slider-item h3 {
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.items-section .slider-item h3:hover {
  color: var(--main-color);
}
.items-section .slider-item .price {
  color: var(--main-color);
}

.items-section .slider-item .old-price {
  color: #929292;
  padding-left: 10px;
  text-decoration: line-through;
}
