.category-slider .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaa;
  aspect-ratio: 1/1;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  padding: 5px;
}

.category-slider .category svg {
  font-size: 5em;
}


.category-slider .category span {
  text-align: center;
  font-size: 1.2em;
}
 
.category-slider .category:hover{
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}