.category-section .container {
  display: grid;
  gap: 15px;
}

@media (min-width: 768px) {
  .category-section .container {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 1200px) {
  .category-section .container {
    grid-template-columns: 1.3fr 4fr;
  }
}
.category-section .container aside {
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 12px;
}
.category-section .container aside .filter:not(:first-of-type) {
  margin-top: 30px;
}
.category-section .container aside .filter h4 {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}
.category-section .container aside .filter {
  position: relative;
}
.category-section .container aside .filter .check-boxs {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  max-height: 0px;
  overflow: hidden;
}
.category-section .container aside .filter .check-boxs.opened {
  max-height: 400px;
}
.category-section aside .price-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category-section aside .price-filter input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.category-section aside .price-filter button {
  padding: 0.5rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.category-section aside .collapse-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  color: var(--main-color);
}
html[lang="en"] .category-section aside .collapse-toggle {
  right: 0;
}
html[lang="ar"] .category-section aside .collapse-toggle {
  left: 0;
}

.category-section aside .icon {
  font-size: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.category-section aside .collapse-toggle:hover .icon {
  transform: scale(1.1) rotate(180deg);
  -webkit-transform: scale(1.1) rotate(180deg);
  -moz-transform: scale(1.1) rotate(180deg);
  -ms-transform: scale(1.1) rotate(180deg);
  -o-transform: scale(1.1) rotate(180deg);
}
.category-section aside .control-checkbox {
  position: relative;
  margin-top: 6px;
}

.category-section aside .control-checkbox label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-size: 14px;
  display: inline-block;
}

.category-section aside .control-checkbox label span:not(.text) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  font-size: 12px;
  color: #fff;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 3px;
  transition: 0.3s;
  transform: scale(0) rotate(360deg);
}
.category-section aside .control-checkbox label span.text {
  text-align: center;
  width: 100%;
}

.category-section aside .control-checkbox label:hover::before {
  border-color: var(--main-color);
}

.category-section aside .control-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  margin-top: -9px;
  border-radius: 3px;
}

.category-section aside .control-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.category-section
  aside
  .control-checkbox
  input[type="checkbox"]:checked
  + label
  span {
  transform: scale(1);
}

.category-section .items-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 40px;
}

@media (min-width: 768px) {
  .category-section .items-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (min-width: 992px) {
  .category-section .items-container {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}
@media (min-width: 1200px) {
  .category-section .items-container {
    grid-template-columns: repeat(3, minmax(190px, 1fr));
  }
}
@media (min-width: 1400px) {
  .category-section .items-container {
    grid-template-columns: repeat(4, minmax(190px, 1fr));
  }
}
.category-section .slider-item {
  user-select: none;
}
.category-section .slider-item .discount {
  position: absolute;
  top: 16px;
  left: 25px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  padding: 3px 13px;
  font-size: 13px;
}
.category-section .slider-item .image {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.category-section .slider-item .image img {
  width: 55%;
}
.category-section a {
  all: unset;
}
.category-section .slider-item .image .icon {
  padding: 8px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  font-size: 22px;
  top: 15px;
  right: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.category-section .slider-item .image .icon:hover {
  opacity: 0.5;
}

.category-section .slider-item .image button {
  position: absolute;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  bottom: -50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.category-section .slider-item .image:hover button {
  bottom: 0;
}
.category-section .slider-item .image button:hover {
  opacity: 0.6;
}

.category-section .slider-item h3 {
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.category-section .slider-item h3:hover {
  color: var(--main-color);
}
.category-section .slider-item .price {
  color: var(--main-color);
}

.category-section .slider-item .old-price {
  color: #929292;
  padding-left: 10px;
  text-decoration: line-through;
}
.category-section .page-btns {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.category-section .page-btns button {
  font-size: 18px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}
.category-section .page-btns button:disabled {
  background-color: #bbb;
}
