section:not(.Toastify) {
  padding: 70px 0;
  min-height: calc(100vh - (293px + 88px));
}

.hero-section .container {
  display: grid;
  gap: 30px;
}
@media (min-width: 992px) {
  .hero-section {
    padding: 70px 0 40px;
  }
  .hero-section .container {
    padding-bottom: 90px;
    border-bottom: 1px solid #ddd;
  }
}
@media (min-width: 1200px) {
  .hero-section .container {
    grid-template-columns: 1fr 3fr;
    align-items: start;
  }
}

.hero-section .container .categories {
  display: none;
}
@media (min-width: 1200px) {
  .hero-section .container .categories {
    display: block;
  }
}

.hero-section .container .categories a {
  text-decoration: none;
}
.hero-section .container .categories li {
  margin: 14px 0;
  color: #000;
  width: fit-content;
  position: relative;
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hero-section .container .categories li:hover {
  color: var(--main-color);
}

.items-section .container > button {
  margin: 40px auto;
  display: block;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 18px 45px;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.3s opacity;
  -webkit-transition: 0.3s opacity;
  -moz-transition: 0.3s opacity;
  -ms-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  cursor: pointer;
}
.items-section .container > button:hover {
  opacity: 0.7;
}
