footer {
  background-color: #000;
  color: #fff;
  padding: 60px 0;
  text-align: center;
}
footer h3 {
  margin-bottom: 20px;
  font-size: 2.5em;
}
footer .icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 20px;
  cursor: pointer;
}
footer .icons a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: #fff;
  line-height: 0;
}
footer .icons a:hover {
  color: var(--main-color);
}
footer .copy-right {
  color: #aaa;
}
