.forget {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 85px - 293px);
}
.forget form {
  display: flex;
  flex-direction: column;
  flex-basis: 450px;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0px 2px 25px 15px #eee;
}

.forget form h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 2em;
}

.forget form div {
  margin-bottom: 40px;
}

.forget form input {
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 30px;
  outline: none;
  font-size: 18px;
  padding: 10px;
}

.forget form button {
  border: none;
  margin-top: 50px;
  font-size: 18px;
  padding: 15px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.forget form button:hover {
  opacity: 0.6;
}
